* {
  box-sizing: border-box;
}

a {
    color: inherit;
    cursor: pointer;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Open Sans', arial, sans-serif;
  min-width: min-content;
  min-height: 100vh;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#main-wrapper {
  flex-grow: 1;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

a:visited {
  color: inherit;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
  margin: 0;
  background: linear-gradient(to right,#009191,#fbcb67);
  color: white;
}

footer {
  width: 100%;
  background: rgba(0,145,145,1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin-top: 64px;
  font-size: .875rem;
}

footer > p {
    margin: 0;
    display: inline-block;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
}

h2 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 64px 0 12px;
}

h3 {
  font-weight: 300;
}

qa-bot h3 {
    font-weight: revert;
}

header h1 {
  width: auto;
  font-size: 2.8em;
  margin: 0;
}

header h2 {
  width: auto;
  margin: 0;
}

nav {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: center;
  border-bottom: 1px solid #efefef;
}

nav > a {
  color: #444;
  display: block;
  flex: 1;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
}

nav.collection {
  border: none;
}

nav.collection > ul {
  padding: 0;
  list-style: none;
}

nav.collection > ul > li {
  padding: 4px 0;
}

nav.collection > ul > li.selected {
  font-weight: 600;
}

nav.collection a {
  text-decoration: none;
}

nav.collection a:hover {
  text-decoration: underline;
}

section.columns, div.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 488px));
  grid-gap: 48px;
  justify-content: center;
  align-items: center;
}

section.columns > div, div.columns > div, div.columns > form {
  flex: 1;
}

section.documentation {
  display: grid;
  grid-template-columns: 240px minmax(400px, 784px);
  grid-gap: 48px;
  justify-content: center;
}

section.documentation h2:first-of-type {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-weight: 600;
}

td, th {
  border: solid 1px #aaa;
  padding: 4px;
  text-align: left;
  vertical-align: top;
}


.bot-container {
    width: 100%;
    height: 50rem;
    position: relative;

    border: 1px solid gray;
    border-radius: 0.25rem;

    color: #009191;
    transition: background-color 0.2s;
}

.bot-container qa-bot {
    position: absolute;
}

@media (prefers-color-scheme: dark) {
    .bot-container:not(.light) {
        background: #111;
        color: #fbcb67;
    }
}

.dark {
    background: black;
}

p > code {
    background: #eee;
    border-radius: 0.25rem;
    padding: 0 0.25em;
}

.config-form, .config-preview {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 25em;
}
.config-form {
    border: 0.0625em solid gray;
    padding: 1em;
}
.config-form-item {
    margin-top: 1em;
    display: flex;
}
.config-form label {
    display: inline-block;
    width: 35%;
    white-space: pre-wrap;
    line-height: 2em;
    font-size: 0.75em;
}

.config-form label.inner-label {
    display: block;
    font-size: 0.7em;
    margin: 0.5em 0;
}

.radio-label {
    font-size: 0.8em;
    margin-left: 0.125em;
    margin-right: 1em;
}

.config-form input:not([type="radio"]) {
    width: 65%;
    height: 2em;
}

.radio-btn + .radio-btn {
    margin-left: 1em;
  }

.config-form select {
    min-width: 30%;
    height: 2.125em;
}

.config-form .inline-block {
    width: 65%;
}
.config-form .inline-block input, .config-form .inline-block textarea {
    width: 100%;
    resize: none;
}
.config-preview .tabs {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.config-preview .tabs .tab-item {
    border: 0.0625em solid gray;
    background-color: transparent;
    height: 100%;
    padding: 0.5em 1em;
}
.config-preview .tabs .tab-item.active {
    font-weight: bold;
    color: #fff;
    background-color: #009191;
    border: 0.0625em solid #009191;
}
.qa-bot-container, .source-container {
    border: 0.0625em solid gray;
    height: calc(100% - 2em);
    position: relative;
}
.qa-bot-container qa-bot {
    position: absolute;
    right: 2em;
}
.config-preview .action-btn {
    margin: 1em;
    height: 2em;
    background-color: #009191;
    color: #fff;
    border: none;
    border-radius: 0.25em;
}
.config-preview .action-btn:hover {
    filter: brightness(0.8);
}
.config-preview textarea#CODE {
    margin: 0 1em 1em;
    height: calc(100% - 5em);
    width: calc(100% - 2em);
    resize: none;
    border: none;
    border-width: 0;
    border-color: transparent;
}
.config-preview textarea::focus {
    border: none;
    border-width: 0;
    border-color: transparent;
}
